.home-page {
    @import "./variablesMixins";
    
    &::before {
        content: '';
        background-image: url(/assets/imges/myPhoto.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: 42% 75%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        filter: brightness(30%);
    }
    header {
        background-color: transparent;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;

        .fayzDev {
            font-family: 'Short Stack', cursive;
            font-size: 25px;
            font-weight: 700;
            color: black;

            > span:last-child {
                color: $Maincolor;
            }

            > span:first-child {
                color: white;
            }
        }

        nav {
            transition: .5s;
            ul {
                display: flex;
                align-items: center;
                gap: 30px;
                
                li {
                    list-style: none;
                    transition: .5s;
                    
                    a {
                        @include fonts;
                        text-decoration: none;
                        transition: .5s;
                        color: $Maincolor;
                    }
                    &::after {
                        content: '';
                        display: block;
                        width: 0px;
                        height: 3px;
                        background-color: $Maincolor;
                        transition: .5s;
                    }
                    &:hover {
                        &::after {
                            width: 30px;
                        }
                        transform: translateY(-5px);
                    }
                    
                }
            }
        }
        .showNavbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }
        .close-open {
            display: flex;
            flex-direction: column;
            gap: 5px;
            background-color: $Maincolor;
            padding: 11px 8px;
            border-radius: 50%;
            cursor: pointer;
            display: none;
            transition: .3s; 
            span {
                width: 30px;
                height: 4px;
                background-color: $secondaryColor;
            }
        }
        .close-menu {
            gap: 0px;
            > span:nth-child(1) {
                transform: rotate(-45deg);
            }            
            > span:nth-child(2) {
                transform: rotate(45deg);
            }            
            > span:nth-child(3) {
                display: none;
            }
        }
    }

    .info-me {
        height: calc(100vh - 80px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        h1 {
            @include fonts;
            font-size: 40px;
            text-transform: uppercase;
            width: 580px;
            text-align: center;
            color: $Maincolor
        }

        > p {
            @include fonts;
            width: 800px;
            text-align: center;
            color: $Maincolor;
        }

        .hireMe {
            display: flex;
            align-items: center;
            gap: 30px;
            
            a {
                transition: .5s;
                width: 150px;
                text-align: center;
                padding: 10px 20px;
                background-color: transparent;
                border: 1px solid $Maincolor;
                color: $Maincolor;

                &:hover {
                    background-color: $Maincolor;
                    color: $secondaryColor;
                }
            }
        }
    }
}

@media(max-width: 650px) {
    .home-page {

        
        .info-me{
            h1 {
                width: 400px;
                font-size: 25px;
            }
            > p {
                width: 480px;
            }
        }
    }
}


@media(max-width: 770px) {
    .home-page {

        header {
            padding: 0 20px;
            nav {
                
                position: absolute;
                top: -100%;
                height: 90vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 50px;
                backdrop-filter: blur(10px);

                ul{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                }
                
            }
            .showNavbar {
                position: absolute;
                top: 10%;
                left: 0;

                ul{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                }
            }

            .close-open {
                display: flex;
            }
        }
        .info-me{
            > p {
                width: 480px;
            }
        }
    }
}
@media(max-width: 360px) {
    .home-page {


        .info-me{
            h1 {
                width: 300px;
            }
            > p {
                width: 300px;
            }
            .hireMe {
                a {
                    font-size: 12px;
                    width: 96px;
                }
            }
        }
    }
}
@media(max-width: 500px) {
    .home-page {

        
            .close-open {
                display: flex;
            }
        }
        .info-me{
            h1 {
                width: 350px;
                font-size: 20px;
            }
            > p {
                width: 430px;
            }
        }
    }

