$Maincolor: rgb(211, 193, 193);
$secondaryColor: rgb(75, 68, 68);
@mixin fonts{
    font-family: 'Poppins', sans-serif;
}

@mixin hover {
    content: '';
    position: absolute;
    left: 0;
    top: 0%;
    bottom: 0;
    width: 0%;
    height: 100%;
    background: $Maincolor;
    z-index: -1;
    transition: .5s;
    border-radius:   0;
}