@import "./sections/homePage";
@import "./sections/about";
@import "./sections/variablesMixins";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    #preloader {
        
        background: rgb(10, 10, 10) url(/assets/imges/preloader.gif) no-repeat center center;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
}